<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- Define log levels -->
	<targets>
		<!-- Console logging -->
		<target xsi:type="Console" name="console" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />

		<!-- File logging -->
		<target xsi:type="File" name="file"
                fileName="D:\CGProject\GreetingApp_2384200182\HelloGreetingApplication\Logs\log.txt"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
                encoding="utf-8"
                keepFileOpen="false"
                concurrentWrites="true"
                archiveFileName="logs/log_{#}.txt"
                archiveNumbering="Sequence"
                maxArchiveFiles="10"
                enableArchiveFileCompression="true"/>
	</targets>

	<!-- Define logging rules -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="console, file"/>
	</rules></nlog>
